@keyframes animat{
  from{opacity:0}
  to{opacity:4}
}


.todo {
  font-size: 25px;
  font-style: italic;
  display: flex;
  
  width: auto;
  animation-name: animat;
  animation-duration:1s;
  animation-iteration-count: 1;
  
}

.done {
  
  text-decoration: line-through;
}

.buttond{
  
  background-image:url(https://cdn.dribbble.com/users/2124240/screenshots/6118828/delete_icon_intraction.gif);
  background-size:cover;
  border-radius:20px;
  margin-left:20px;
  
}